import React from "react";
import ReactDOM from "react-dom/client";
import App from "./App.jsx";
import "./index.css";         // اضافه شده
import "./styles/global.css"; // اگر وجود داشته باشد

ReactDOM.createRoot(document.getElementById("root")).render(
  <React.StrictMode>
    <App />
  </React.StrictMode>
);
